PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=chai-aur-code
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=chai-aur-backend
REFRESH_TOKEN_EXPIRY=10d
CLOUDINARY_CLOUD_NAME=bf09jzzp
CLOUDINARY_API_KEY=518219793629336
CLOUDINARY_API_SECRET=2qX8_XDqV_oBo-5LYegQNIw8quQ
MONGODB_URI=mongodb+srv://jaybitwiseinfotech_db_user:MKMxIJ94B85cNdwv@cluster0.botxjky.mongodb.net